{% extends 'news/news.html' %}
{% load static %}
{% block title_name %}
    我的草稿
{% endblock %}
{% block style %}
    <style>
        .draft_modal_size{
            width: 800px;
            height: 100%;
        }
        .title_modal{
            text-align: center
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">我的草稿</h3>
        </div>
        <div class="panel-body article_panel_body_format">
            <table id="table_my_draft" class="table table-striped article_table table_col_line"></table>
        </div>
    </div>
    <div class="modal fade" id="modal_draft" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog draft_modal_size">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title title_modal" id="myModalLabel">草稿修改</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group input_format">
                        <span>
                            <h5>标题： </h5>
                        </span>
                        <input type="text" class="form-control" id="draft_title" >
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>学校：</h5>
                        </span>
                        <div class="form-group input_article" style="padding-left: 0px;">
                            <select class="selectpicker" data-style="btn btn-default" id="select_country">
                                <option value="" selected> 请选择国家 </option>
                                {% for country in countrys %}
                                    <option value="{{ country.country }}">{{ country.country }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group input_article">
                            <select class="selectpicker" data-style="btn btn-default" id="select_school">
                                <option value="" selected> 请选择学校 </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>类型：</h5>
                        </span>
                        <div class="input-group input_article" style="padding-top: 0px;padding-left: 0px">
                            <select class="selectpicker" data-style="btn btn-default" id="select_clas">
                                <option value="">请选择文章分类</option>
                                {% for c in clas %}
                                    <option value="{{ c.keyword }}">{{ c.keyword }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>内容：</h5>
                        </span>
                        <textarea class=" textarea_format" id="draft_article" style="overflow-y:scroll"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="btn_modify_save">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataDraftTable": "/abroad/draft_table_init/",
            "dataDeletePush": "/abroad/delete_my_draft/",
            "dataLoadDraft": "/abroad/load_original_draft/",
            "dataModifySave": "/abroad/draft_modify_save/",
            "dataDraftSubmit": "/abroad/draft_submit/",
            "dataSelectSchoolInit":'/abroad/select_school_init/',
        }
    </script>
    <script src="{% static "js/news/draft_news.js" %}"></script>
{% endblock %}