{% extends 'news/news.html' %}
{% load static %}
{% block title_name %}
    编辑文章
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">编辑文章</h3>
        </div>
        <div class="panel-body panel_body_format">
            <div class="panel panel-default edit_div">
                <div class="panel-body ">
                    <div class="input-group input_format">
                        <span>
                            <h5>标题： </h5>
                        </span>
                        <input type="text" class="form-control" id="edit_title" placeholder="文章标题不可重复">
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>关键词：</h5>
                        </span>
                        <input type="text" class="form-control" id="edit_keyword" placeholder="请填写文章关键词 便于搜索">
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>内容：</h5>
                        </span>
                        <textarea class=" textarea_format" id="edit_article"></textarea>
                    </div>
                    <div class="input-group btn_format">
                        <button class="btn btn-default" id="save_btn">保存草稿</button>&nbsp;
                        <button class="btn btn-default" id="submit_btn">发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataEditSave": "/abroad/edit_news_save/",
            "dataEditSubmit": "/abroad/edit_news_submit/",
        }
    </script>
    <script src="{% static "js/news/edit_news.js" %}"></script>
{% endblock %}