{% extends 'news/news.html' %}
{% load static %}
{% block title_name %}
    编辑文章
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">编辑文章</h3>
        </div>
        <div class="panel-body panel_body_format" style="height: 730px">
            <div class="panel panel-default edit_div">
                <div class="panel-body ">
                    <div class="input-group input_format">
                        <span>
                            <h5>标题： </h5>
                        </span>
                        <input type="text" class="form-control" id="edit_title" placeholder="文章标题不可重复">
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>学校：</h5>
                        </span>
                        <div class="form-group " style="float: left" >
                            <select class="selectpicker" data-style="btn btn-default" id="select_country">
                                <option value="" selected> 请选择国家 </option>
                                {% for country in countrys %}
                                    <option value="{{ country.country }}">{{ country.country }}</option>
                                {% endfor %}

                            </select>
                        </div>
                        <div class="form-group " style="float: left;padding-left: 20px">
                            <select class="selectpicker" data-style="btn btn-default" id="select_school">
                                <option value="" selected> 请选择学校 </option>
                            </select>
                        </div>
                    </div>
                    <div class="input-group input_format">
                        <span>
                            <h5>类型：</h5>
                        </span>
                        <div class="input-group input_article" style="padding-top: 0px;padding-left: 0px">
                            <select class="selectpicker" data-style="btn btn-default" id="select_clas">
                                <option value="">请选择文章分类</option>
                                {% for c in clas %}
                                    <option value="{{ c.keyword }}">{{ c.keyword }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
{#                    <div class="input-group input_format">#}
{#                        <span>#}
{#                            <h5>属性：</h5>#}
{#                        </span>#}
{#                        <div class="input-group input_article" style="padding-top: 0px;padding-left: 0px">#}
{#                            <select class="selectpicker" data-style="btn btn-default" id="select_attr">#}
{#                                <option value="">请选择创作类型</option>#}
{#                                {% for type in types %}#}
{#                                    <option value="{{ type.keyword }}">{{ type.keyword }}</option>#}
{#                                {% endfor %}#}
{##}
{#                            </select>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="input-group input_format">
                        <span>
                            <h5>内容：</h5>
                        </span>
                        <textarea class=" textarea_format" id="edit_article"></textarea>
                    </div>
                    <div class="input-group btn_format">
                        <button class="btn btn-default" id="save_btn">保存草稿</button>&nbsp;
                        <button class="btn btn-default" id="submit_btn">发布</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataEditSave": "/abroad/edit_news_save/",
            "dataEditSubmit": "/abroad/edit_news_submit/",
            "dataSelectSchoolInit":'/abroad/select_school_init/',
        }
    </script>
    <script src="{% static "js/news/edit_news.js" %}"></script>
{% endblock %}