{% extends 'base.html' %}
{% load static %}
{% block title_name %}
    投稿专栏
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">文章浏览</h3>
        </div>
        <div class="panel-body" style="height: 660px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class = "panel-title" >
                        <a data-toggle = "collapse"  data-parent = "#acordord" href ="#collapseOne" style="color: orangered">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </a >
                        <a class="glyphicon glyphicon-refresh" style="color:blue;float: right" onclick="table_refresh()"></a>
                    </h4 >
                </div>
                <div id = "collapseOne"  class = "panel-collapse collapse in">
                    <div class="panel-body" style="padding-left: 25%;">
                        <div class="input-group input_article" style="width: 60%;padding-top: 0px">
                            <input type="text" class="form-control" id="search_word"
                                   placeholder="请输入文章标题、关键词、发布人部分信息">
                            <span class="input-group-btn">
                                <button class="btn btn-warning" style="width: 80px" id="btn_search">搜 索 </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group">
                <table id="table_news" class="table table-striped article_table table_col_line"></table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataNewsTable": "/abroad/news_table_init/",
        }
    </script>
    <script src="{% static "js/news/news.js" %}"></script>
{% endblock %}