{% extends 'base.html' %}
{% block title_name %}
    投稿专栏
{% endblock %}
{% block menu %}
    <nav class="menu_div navbar-default">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand text_li text_brand">
                <a href="../news" class="text_color">
                    投稿专栏
                </a>
            </li>
            <li class="text_li">
                <a href="edit">
                     <span class="text_color glyphicon glyphicon-pencil"> 编辑文章</span>
                </a>
            </li>
            <li class="text_li">
                <a href="push">
                    <span class="text_color glyphicon glyphicon-upload"> 我的推送</span>
                </a>
            </li>
            <li class="text_li">
                <a href="draft">
                    <span class="text_color glyphicon glyphicon-list-alt"> 我的草稿</span>
                </a>
            </li>
            <li class="text_li">
                <a href="note">
                    <span class="text_color glyphicon glyphicon-info-sign" style="text-align: center"> 注意事项</span>
                </a>
            </li>
{#            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-fw fa-plus"> </i> Dropdown <span class="caret"> </span> </a>#}
{#                <ul class="dropdown-menu" role="menu">#}
{#                    <li class="dropdown-header"> Dropdown heading </li>#}
{#                    <li> <a href="#"> Action </a> </li>#}
{#                    <li> <a href="#"> Another action </a> </li>#}
{#                    <li> <a href="#"> Something else here </a> </li>#}
{#                    <li> <a href="#"> Separated link </a> </li>#}
{#                    <li> <a href="#"> One more separated link </a> </li>#}
{#                </ul>#}
{#            </li>#}
        </ul>
    </nav>
{% endblock %}
