{% extends 'news/news.html' %}
{% load static %}
{% block title_name %}
    注意事项
{% endblock %}
{% block style %}
    <style>
        .span_font{
            font-size: 20px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">注意事项</h3>
        </div>
        <div class="panel-body panel_body_format">
            <div class="panel panel-default edit_table_div">
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <span class="span_font">1. </span>
                        编辑文章： 请按提示填写，标题不可重复，关键词仅填写文章所包含的内容梗概，文章字数不要超过十万字。
                    </div>
                    <div class="alert alert-danger">
                        <span class="span_font">2. </span>
                        我的推送： 查看自己已发布的文章，可在操作列下方进行单篇文章的删除。文章内容只显示部分，鼠标指向该单元格可显示全部内容
                    </div>
                    <div class="alert alert-danger">
                        <span class="span_font">3. </span>
                        我的草稿： 查看自己保存为草稿的文章，可继续进行修改保存并且发布，删除草稿则进行删除操作。
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
