/*
菜单栏 样式
*/
.menu_div{
    /*background-color: #fff3cd;*/
    position:absolute;
    padding-top: 0px;
    float: left;
    width: 200px;
    height: 700px;
    border-right: 1px solid #1d2124;
    /*border:1px solid #008800;*/
}

/*
*菜单栏 字体样式
*/
.text_li{
    text-align: center;
    border:1px solid #c0c0c0;
    border-right:none;
    border-left:none;
}
.text_brand{
    font-size: 18px;
}
.text_color{
    color: #4e555b;
}
/*
首页轮播图样式
*/


/**
投稿
*/
.panel_title_format{
    text-align: center;
}
.panel_body_format{
    height: 660px;
    padding-left: 20%;
    padding-top: 30px;
}
.edit_div{
    height: 100%;
    width: 80%;
    background-color: #fcf8e3;
}
.edit_table_div{
    height: 100%;
    width: 80%;
}
.article_panel_body_format{
    height: 700px;
    /*padding-left: 5%;*/
    padding-top: 30px;
}
.article_table_div{
    height: 80%;
    width: 95%;
}
.input_format{
    width: 90%;
    padding-left: 50px;
}
.textarea_format{
    width: 100%;
    height: 300px;
    overflow-y:scroll;
}
.btn_format{
    padding-top: 20px;
    float: right;
}
/*
* 设置列宽由表格宽度和列宽度设定
*/
.article_table{
    table-layout: fixed;
}

/*
* 文章浏览 输入框组
*/
.input_article{
    float: left;
    padding-left: 20px;
    padding-top: 10px
}
/**
*/
.table_col_line>tbody>tr>td{
    border:0px;
    }

/*
* 社交好友列表
*/
.friend_menu{
    background-color: #fdfdfe;
    position:absolute;
    padding-top: 0px;
    float: left;
    width: 200px;
    height: 700px;
    border-right: 1px solid #1d2124;
    /*border:1px solid #008800;*/
}

/*
    添加好友
*/
.friend_panel_body{
    height: 90%;
    width: 80%;
    background-color: #fbfcfc;
}

/**
 我的好友输入框 按钮组
*/
.input_my_friend{
    float: left;
    padding-left: 0px;
    padding-top: 10px
}

/*
    问题专栏面板
*/
.problem_panel_height{
    height: 660px;
}

/**
 滑块显示
*/
.out_box{
    height: 660px;
    overflow-y: auto;
}

/** 回复框
*/
.textarea_reply_format{
    width: 100%;
    height: 200px;
    overflow-y:scroll;
}