{% extends 'problem/problem.html' %}
{% load static %}
{% block title_name %}
        浏览问题
{% endblock %}
{% block style %}
    <style>
        .p_font_nickname{
            font-size: 17px;
            display:inline;
            padding-right: 20px;
        }
        .span_font_color{
            color: #0069d9;
        }
        .span_font_article{
            font-size: 16px;
        }
        .out_box{
            height: 660px;
            overflow-y: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="out_box">
        <div class="panel panel-danger">
            <div class="panel-heading" style="padding-bottom: 0px">
                <p>
                    <span style="color: #0069d9;font-size: 18px">描述：</span>
                    <span class="span_font_article">{{ question.title }}</span>
                </p>
            </div>
            <div class="panel-body">
                <span style="color: #0069d9;font-size: 18px">内容:</span>
                <article class="span_font_article">{{ question.question }}</article>
                <div style="text-align: right">
                    <p class="p_font_nickname">
                        <span class="span_font_color">提问人：</span>
                        {{ question_nickname }}
                    </p>
                    <p class="p_font_nickname">
                        <span class="span_font_color">时间：</span>
                        {{ question_create_time }}
                    </p>
                    <p class="p_font_nickname">
                        <span class="span_font_color">分类：</span>
                        {{ category }}
                    </p>
                </div>
            </div>
        </div>
        {% for answer in answer_lst %}
            <div class = "panel-group" id = "accordion" >
                <div class = "panel panel-info" >
                    <div class = "panel-heading" >
                        <h4 class = "panel-title" >
                            <a data-toggle = "collapse"  data-parent = "#acordord" href ="#{{ answer.id }}">
                                {{ answer.nickname }} 的回答
                            </a >
                            {% ifequal answer.is_like '0' %}
                                <a class="glyphicon glyphicon-heart-empty" style="color:red;float: right"
                                   onclick="do_like({{ answer.id }})" id="do_like{{ answer.id }}"></a>
                                {% else %}
                                <a class="glyphicon glyphicon-heart" style="color:red;float: right"
                                onclick="cancel_like({{ answer.id }})" id="cancel_like{{ answer.id }}"></a>
                            {% endifequal %}
                        </h4 >
                    </div >
                    <div id = "{{ answer.id }}"  class = "panel-collapse collapse in" >
                        <div class = "panel-body article_table">
                            <pre class="pre_style">{{ answer.answer }}</pre>
                        </div>
                        <div style="text-align: right">
                            <p class="p_font_nickname">
                                <span class="span_font_color">点赞数：</span>
                                <span id="like_num{{ answer.id }}" class="badge">{{ answer.like_num }}</span>
                            </p>
                            <p class="p_font_nickname">
                                <span class="span_font_color">时间：</span>
                                {{ answer.create_time }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataBrowsingQuestionAnswerLike": "/abroad/browsing_question_answer_like/",
        }
    </script>
    <script src="{% static "js/problem/browsing_question.js" %}"></script>
{% endblock %}