{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            {% block title_name %}海外留学交流平台{% endblock %}
        </title>
    {% endblock %}
</head>
{% block css %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "picture/login/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap-datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap-select.min.css" %}">
    <link rel="stylesheet" href="{% static "web/plugin/css/daterangepicker.css" %}">
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap-table.min.css" %}">
    <link rel="stylesheet" href="{% static "css/public/public_style.css" %}">
{% endblock %}
{% block style %}
{% endblock %}
<body>
{% block navigation %}
    <nav class="navbar navbar-inverse" role="navigation" style="margin: initial">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../home">海外留学交流平台</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% for info in operations %}
                        {% if info.url %}
                            <li class="" style="padding-left: 60px">
                                <a class="" href="{{ info.url }}">
                                    {{ info.operation_cn }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div style="color: #fcf8e3;padding-top: 16px;float: right;padding-right: 20px">
                <span class="glyphicon glyphicon-user" style="color: sandybrown"></span>
                 &nbsp; {{ now_nickname }} &nbsp;
                <a href="#" onclick="log_out()">
                    <span class="glyphicon glyphicon-log-out"></span>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}
{% block menu %}
    <nav class="menu_div navbar-default">
        <ul class="nav nav-pills nav-stacked">
            <li class="sidebar-brand text_li text_brand">
                <a href="../news" class="text_color">
                    文章浏览
                </a>
            </li>
            <li class="text_li">
                <a href="../edit">
                     <span class=" glyphicon glyphicon-pencil"> 编辑文章</span>
                </a>
            </li>
            <li class="text_li">
                <a href="../push">
                    <span class=" glyphicon glyphicon-upload"> 我的发布</span>
                </a>
            </li>
            <li class="text_li">
                <a href="../draft">
                    <span class=" glyphicon glyphicon-list-alt"> 我的草稿</span>
                </a>
            </li>
            <li class="sidebar-brand text_li text_brand">
                <a href="../problem" class="text_color">
                    你问我答
                </a>
            </li>
            <li class="text_li">
                <a href="../raise_question_page">
                     <span class="glyphicon glyphicon-edit"> 提出问题</span>
                </a>
            </li>
            <li class="text_li">
                <a href="../my_question">
                     <span class=" glyphicon glyphicon-tags"> 我的问题</span>
                </a>
            </li>
            <li class="text_li">
                <a href="../my_answer">
                    <span class=" glyphicon glyphicon-check"> 我的回答</span>
                </a>
            </li>
            <li class="sidebar-brand text_li text_brand">
                <a href="../communicate" class="text_color">
                    信箱
                    <span class="badge">{{ msg_count }}</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../my_friend">
                    <span class="glyphicon glyphicon-user"> 我的好友</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../add_friend">
                    <span class="glyphicon glyphicon-search"> 添加好友</span>
                </a>
            </li>
            <li class="sidebar-brand text_li text_brand">
                <a href="../note" class="text_color">
                    注意事项
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
<div style="padding-left: 200px" class="out_box">
    {% block content %}
    {% endblock %}
</div>
{% block home %}
{% endblock %}
{% block total_content %}
{% endblock %}
</body>
{% block js %}
    <script>
        function alert_msg(msg){
            swal(msg, {
                button: false,
            });
        }
        function log_out() {
            $.ajax({
                type: "post",
                data: {},
                dataType:'json',
                url: '/abroad/log_out/',
                success: function (data) {
                    location.href = '../../'
                }
            });
        }
    </script>
    <script src="{% static "web/plugin/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "web/plugin/js/sweetalert.min.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap-select.min.js" %}"></script>
    <script src="{% static "web/plugin/js/moment.min.js" %}"></script>
    <script src="{% static "web/plugin/js/daterangepicker.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap-table.min.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap-table-zh-CN.min.js" %}"></script>
{% endblock %}
{% block script %}
{% endblock %}
</html>