{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>
            {% block title_name %}海外留学交流平台{% endblock %}
        </title>
    {% endblock %}
</head>
{% block css %}
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static "picture/login/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "web/plugin/css/bootstrap-datetimepicker.css" %}">
    <link rel="stylesheet" href="{% static "css/public/public_style.css" %}">
{% endblock %}
{% block style %}
{% endblock %}
<body>
{% block navigation %}
    <nav class="navbar navbar-inverse" role="navigation" style="margin: initial">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../home">海外留学交流平台</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    {% for info in operations %}
                        {% if info.url %}
                            <li class="" style="padding-right: 60px">
                                <a class="" href="{{ info.url }}">
                                    {{ info.operation_cn }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {#                    <li class="dropdown">#}
                    {#                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
                    {#                            Java <b class="caret"></b>#}
                    {#                        </a>#}
                    {#                        <ul class="dropdown-menu">#}
                    {#                            <li><a href="#">jmeter</a></li>#}
                    {#                            <li><a href="#">EJB</a></li>#}
                    {#                            <li><a href="#">Jasper Report</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#">分离的链接</a></li>#}
                    {#                            <li class="divider"></li>#}
                    {#                            <li><a href="#">另一个分离的链接</a></li>#}
                    {#                        </ul>#}
                    {#                    </li>#}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}
{% block menu %}
{% endblock %}
<div style="padding-left: 200px">
    {% block content %}
    {% endblock %}
</div>
{% block home %}
{% endblock %}
</body>
{% block js %}
    <script src="{% static "web/plugin/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap.min.js" %}"></script>
    <script src="{% static "web/plugin/js/sweetalert.min.js" %}"></script>
    <script src="{% static "web/plugin/js/bootstrap-datetimepicker.js" %}"></script>
{% endblock %}
{% block script %}
{% endblock %}
</html>