{% extends 'base.html' %}
{% load static %}
{% block title_name %}
        社交专栏
{% endblock %}
{% block menu %}
    <nav class="friend_menu navbar-default">
        <ul class="nav nav-pills nav-stacked">
            <li class="sidebar-brand text_li text_brand">
                <a href="../communicate" class="text_color">
                    留言板
                    <span class="badge">{{ msg_count }}</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../my_friend">
                    <span class="glyphicon glyphicon-user"> 我的好友</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../add_friend">
                    <span class="glyphicon glyphicon-search"> 添加好友</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../note_communicate">
                    <span class="glyphicon glyphicon-exclamation-sign"> 注意事项</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">留言板</h3>
        </div>
        <div class="panel-body" style="height: 660px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class = "panel-title">
                        <a data-toggle = "collapse"  data-parent = "#acordord" href ="#collapseOne" style="color: red">
                            查 询 条 件, 点 击 展 开
                        </a >
                    </h4 >
                </div>
                <div id = "collapseOne"  class = "panel-collapse collapse" >
                    <div class="panel-body">
                    <div class="input-group">
                        <div class="input-group input_article" style="padding-left: 0px">
                            <span class="input-group-addon">发 信 人 </span>
                            <input type="text" class="form-control" style="width: 200px;" id="input_search_word"
                                   placeholder="昵称、账号关键词">
                        </div>
                        <div class="form-group input_article">
                            <select class="selectpicker" data-style="btn btn-default" id="select_type">
                                <option value="" selected> 请 选 择 类 型 </option>
                                <option value="0"> 留 言 </option>
                                <option value="1"> 通 知 </option>
                            </select>
                        </div>
                        <div class="form-group input_article">
                            <select class="selectpicker" data-style="btn btn-default" id="select_state">
                                <option value="" selected> 请 选 择 状 态 </option>
                                <option value="0"> 未 读 </option>
                                <option value="1"> 已 读 </option>
                            </select>
                        </div>
                        <div class="btn-group input_article">
                            <button type="button" class="btn btn-white" id="daterange-btn">
                                <span id="daterangeText">发 送 时 间</span>
                                <input type="hidden"  value="" id="id-daterange">
                            </button>
                        </div>
                        <div class="input-group input_article">
                            <button class="btn btn-warning" style="width: 80px" id="btn_search">搜 索 </button>
                        </div>
                        <div class="input-group input_article">
                            <button class="btn btn-danger" id="btn_clear">清 除 条 件</button>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="input-group">
                <table id="table_communicate" class="table table-striped article_table table_col_line"></table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataCommunicateTable": "/abroad/communicate_table_init/",
            "dataDeleteMessage": "/abroad/delete_message/",
        }
    </script>
    <script src="{% static "js/communicate/communicate.js" %}"></script>
{% endblock %}