{% extends 'base.html' %}
{% load static %}
{% block title_name %}
        社交专栏
{% endblock %}
{% block menu %}
    <nav class="friend_menu navbar-default">
        <ul class="nav nav-pills nav-stacked">
            <li class="sidebar-brand text_li text_brand">
                <a href="../communicate" class="text_color">
                    留言板
                    <span class="badge">{{ msg_count }}</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../my_friend">
                    <span class="glyphicon glyphicon-user"> 我的好友</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../add_friend">
                    <span class="glyphicon glyphicon-search"> 添加好友</span>
                </a>
            </li>
            <li>
                <a class="text_li" href="../manage_friend">
                    <span class="glyphicon glyphicon-cog"> 好友管理</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading panel_title_format">
            <h3 class="panel-title">留言板</h3>
        </div>
        <div class="panel-body" style="height: 660px;">
            <div class="input-group">
                <table id="table_communicate" class="table table-striped article_table table_col_line"></table>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        let PUB_URL ={
            "dataCommunicateTable": "/abroad/communicate_table_init/",
        }
    </script>
    <script src="{% static "js/communicate/communicate.js" %}"></script>
{% endblock %}